<!-- views/user/order-success.ejs -->
<%- include("../../views/partials/user/header") %>

<div class="container text-center" style="margin-top: 50px;">
  <h2>Thank you for your order!</h2>
  <img src="https://i.pinimg.com/736x/d9/05/e3/d905e3362352311d52e0d086b26c049a.jpg" alt="Thank you" style="width: 200px;" />
  
  <p>Your order <strong><%= orderId %></strong> has been placed successfully.</p>
  
  <!-- Button to view order details (maybe link to /userProfile? or a dedicated /order/:id page) -->
  <a href="/userProfile#orders" class="btn btn-primary">View My Orders</a>
  
  <!-- or if you have a dedicated route: /order/details?orderId=<%= orderId %> -->
  <!-- <a href="/order/details?orderId=<%= orderId %>" class="btn btn-primary">View My Order</a> -->

  <!-- Button to continue shopping -->
  <a href="/products" class="btn btn-secondary">Continue Shopping</a>
</div>

<%- include("../../views/partials/user/footer") %>
